<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>pen15.io - {{ title }}</title>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/index">pen15.io</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/index">Home</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#">Link</a></li> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Info</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/future">Future Awesomeness</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/about">About</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>Today's Contests</h1>
                <p class="lead">Let's team up and stick it to Vegas</p>
                <div>
                    <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Sport</th>
                      <th scope="col">Away</th>
                      <th scope="col">Home</th>
                      <th scope="col">Game Time</th>
                      <th scope="col">Projected Win</th>
                      <th scope="col">Over/Under</th>
                      <th scope="col">Actual Win</th>
                      <th scope="col">Actual Score</th>
                      <th scope="col">Game Date</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- START data loop here -->
<TR><TD>1</TD>
<TD>NBA</TD>
<TD>BOS</TD>
<TD>@ DET</TD>
<TD>7:00 pm</TD>
<TD>BOS by 10.0</TD>
<TD>229.5 o/u</TD>
<TD></TD>
<TD></TD>
<TD>6 January 2023</TD>
</TR>
<TR><TD>2</TD>
<TD>NBA</TD>
<TD>CLE</TD>
<TD>@ WAS</TD>
<TD>7:00 pm</TD>
<TD>CLE by 1.5</TD>
<TD>222 o/u</TD>
<TD></TD>
<TD></TD>
<TD>6 January 2023</TD>
</TR>
<TR><TD>3</TD>
<TD>NBA</TD>
<TD>LAC</TD>
<TD>@ BKN</TD>
<TD>7:30 pm</TD>
<TD>LAC by 8.0</TD>
<TD>220.5 o/u</TD>
<TD></TD>
<TD></TD>
<TD>6 January 2023</TD>
</TR>
<TR><TD>4</TD>
<TD>NBA</TD>
<TD>SAS</TD>
<TD>@ CHI</TD>
<TD>8:00 pm</TD>
<TD>CHI by 10.0</TD>
<TD>239 o/u</TD>
<TD></TD>
<TD></TD>
<TD>6 January 2023</TD>
</TR>
<TR><TD>5</TD>
<TD>NBA</TD>
<TD>SAC</TD>
<TD>@ HOU</TD>
<TD>8:00 pm</TD>
<TD>SAC by 5.5</TD>
<TD>233.5 o/u</TD>
<TD></TD>
<TD></TD>
<TD>6 January 2023</TD>
</TR>
<TR><TD>6</TD>
<TD>NBA</TD>
<TD>DAL</TD>
<TD>@ UTA</TD>
<TD>9:00 pm</TD>
<TD>UTA by 9.0</TD>
<TD>222.5 o/u</TD>
<TD></TD>
<TD></TD>
<TD>6 January 2023</TD>
</TR>
<TR><TD>7</TD>
<TD>NBA</TD>
<TD>OKC</TD>
<TD>@ GSW</TD>
<TD>10:00 pm</TD>
<TD>GSW by 4.0</TD>
<TD>234.5 o/u</TD>
<TD></TD>
<TD></TD>
<TD>6 January 2023</TD>
</TR>
<TR><TD>8</TD>
<TD>NBA</TD>
<TD>MIL</TD>
<TD>@ POR</TD>
<TD>10:00 pm</TD>
<TD>MIL by 4.5</TD>
<TD>242 o/u</TD>
<TD></TD>
<TD></TD>
<TD>6 January 2023</TD>
</TR>
<TR><TD>9</TD>
<TD>NHL</TD>
<TD>TB</TD>
<TD>@ FLA</TD>
<TD>7:00 pm</TD>
<TD>TB win 52%</TD>
<TD>6.5 o/u</TD>
<TD></TD>
<TD></TD>
<TD>6 January 2023</TD>
</TR>
<TR><TD>10</TD>
<TD>NHL</TD>
<TD>NYI</TD>
<TD>@ PHI</TD>
<TD>7:00 pm</TD>
<TD>NYI win 54%</TD>
<TD>5.5 o/u</TD>
<TD></TD>
<TD></TD>
<TD>6 January 2023</TD>
</TR>
<TR><TD>11</TD>
<TD>NHL</TD>
<TD>VAN</TD>
<TD>@ NJ</TD>
<TD>7:30 pm</TD>
<TD>NJ win 68%</TD>
<TD>6.5 o/u</TD>
<TD></TD>
<TD></TD>
<TD>6 January 2023</TD>
</TR>
<TR><TD>12</TD>
<TD>NHL</TD>
<TD>CGY</TD>
<TD>@ NYR</TD>
<TD>7:30 pm</TD>
<TD>CGY win 51%</TD>
<TD>5.5 o/u</TD>
<TD></TD>
<TD></TD>
<TD>6 January 2023</TD>
</TR>
<TR><TD>13</TD>
<TD>NHL</TD>
<TD>ANH</TD>
<TD>@ DAL</TD>
<TD>8:30</TD>
<TD>DAL win 77%</TD>
<TD>6 o/u</TD>
<TD></TD>
<TD></TD>
<TD>6 January 2023</TD>
</TR>
<TR><TD>14</TD>
<TD>NHL</TD>
<TD>MIN</TD>
<TD>@ ARI</TD>
<TD>9:00 pm</TD>
<TD>MI win 68%</TD>
<TD>6 o/u</TD>
<TD></TD>
<TD></TD>
<TD>6 January 2023</TD>
</TR>                        

                        <!-- END data loop here -->

                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
